@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.title1 {
  font-size: var(--font-size-plus);
  line-height: 42px;
  font-weight: var(--font-weight-boldplus);
  font-family: "Inter", sans-serif;
}

.title2 {
  font-size: var(--font-size-large);
  line-height: 36px;
  font-weight: var(--font-weight-boldplus);
  font-family: "Inter", sans-serif;
}

.title3 {
  font-size: var(--font-size-medium);
  line-height: 22px;
  font-weight: var(--font-weight-boldplus);
  font-family: "Inter", sans-serif;
}

.label {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.link {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-semibold);
  font-family: "Inter", sans-serif;
  color: var(--color-primary);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.paragraph {
  font-size: var(--font-size-regular);
  line-height: 1.5rem;
  letter-spacing: 0.5px;
  font-weight: var(--font-weight-regular);
  font-family: "Inter", sans-serif;
  color: var(--color-text);
}

.span {
  font-family: "Poppins", sans-serif;
  color: var(--color-primary);
  font-size: var(--font-size-regular);
}
