.techSection {
  color: var(--color-white);
  padding: 2rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media (min-width: 520px) {
  .techSection {
    max-width: 56rem;
    margin-inline: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
